<div id="mainPageAddProduct">
  <form
    id="formAdd"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <h1 class="titleAdd">Ajouter un objet</h1>
    <p class="underTitle">afin de lui donner une seconde vie</p>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
        <span>Nom</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer le nom de l'objet"
      >
        <input nz-input id="name" formControlName="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>
        <span>description</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer une description"
      >
        <textarea
          id="description"
          formControlName="description"
          nz-input
          placeholder="description de maximum 300 caractères"
          [nzAutosize]="{ minRows: 1, maxRows: 6 }"
          maxlength="300"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sentType" nzRequired>
        <span>type d'échange</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer le type d'échange"
      >
      <nz-radio-group id="sentType" formControlName="sentType" nzButtonStyle="solid">
        <label nz-radio-button nzValue="ADonner">Donner</label>
        <label nz-radio-button nzValue="AVendre">Vendre</label>
        <label nz-radio-button nzValue="AEchanger">Troquer</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="price"
        nzRequired
        nzTooltipTitle="sera automatiquement mis à 0 si l'objet est à donner ou troquer"
      >
        <span>prix</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer un prix"
      >
        <input
          value="0"
          type="number"
          nz-input
          id="price"
          formControlName="price"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>
        <span>type</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer le type"
      >
      <nz-radio-group id="type" formControlName="type" nzButtonStyle="solid">
        <label nz-radio-button nzValue="Maison">Maison</label>
        <label nz-radio-button nzValue="Jardin">Jardin</label>
        <label nz-radio-button nzValue="Famille">Famille</label>
        <label nz-radio-button nzValue="Vetements">Vetements</label>
        <label nz-radio-button nzValue="Accessoires">Accessoires</label>
        <label nz-radio-button nzValue="Loisirs">Loisirs</label>
        <label nz-radio-button nzValue="Electroniques">Electroniques</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item class="inputSelect">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="implantation" nzRequired>
        <span>implantation</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Il vous faut entrer une implantation"
      >
        <nz-select [ngModel]="'implantation'" formControlName="implantation">
          <nz-option 
            nzLabel="Place de l'Alma 3, 1200 Woluwe-Saint-Lambert" 
            nzValue="Place de l'Alma 3, 1200 Woluwe-Saint-Lambert">
          </nz-option>
          <nz-option
            nzLabel="Clos Chapelle-aux-Champs 43, 1200 Woluwe-Saint-Lambert"
            nzValue="Clos Chapelle-aux-Champs 43, 1200 Woluwe-Saint-Lambert"
          ></nz-option>
          <nz-option
            nzLabel="Promenade de l'Alma 59, 1200 Woluwe-Saint-Lambert"
            nzValue="Promenade de l'Alma 59, 1200 Woluwe-Saint-Lambert"
          ></nz-option>
          <nz-option
            nzLabel="Place de l'Alma 2, 1200 Woluwe-Saint-Lambert"
            nzValue="Place de l'Alma 2, 1200 Woluwe-Saint-Lambert"
          ></nz-option>
          <nz-option
            nzLabel="Chaussée de Wavre 249, 1050 Ixelles"
            nzValue="Chaussée de Wavre 249, 1050 Ixelles"
          ></nz-option>
          <nz-option
            nzLabel="Rue de Trèves 84, 1050 Ixelles"
            nzValue="Rue de Trèves 84, 1050 Ixelles"
          ></nz-option>
          <nz-option
            nzLabel="Rue Limauge 14, 1050 Ixelles"
            nzValue="Rue Limauge 14, 1050 Ixelles"
          ></nz-option>
          <nz-option
            nzLabel="Rue d'Arlon 11, 1050 Ixelles"
            nzValue="Rue d'Arlon 11, 1050 Ixelles"
          ></nz-option>
          <nz-option
            nzLabel="Voie Cardijn 10, 1348 Ottignies-Louvain-la-Neuve"
            nzValue="Voie Cardijn 10, 1348 Ottignies-Louvain-la-Neuve"
          ></nz-option>
          <nz-option
            nzLabel="Rue du Traité de Rome, 1348 Ottignies-Louvain-la-Neuve"
            nzValue="Rue du Traité de Rome, 1348 Ottignies-Louvain-la-Neuve"
          ></nz-option>
          <nz-option
            nzLabel="Rue de l'Union européenne 4, 1348 Ottignies-Louvain-la-Neuve"
            nzValue="Rue de l'Union européenne 4, 1348 Ottignies-Louvain-la-Neuve"
          ></nz-option>
          <nz-option
            nzLabel="Chemin de la Bardane 17, 1348 Ottignies-Louvain-la-Neuve"
            nzValue="Chemin de la Bardane 17, 1348 Ottignies-Louvain-la-Neuve"
          ></nz-option>
          <nz-option
            nzLabel="Rue Paulin Ladeuze 14, 1348 Ottignies-Louvain-la-Neuve"
            nzValue="Rue Paulin Ladeuze 14, 1348 Ottignies-Louvain-la-Neuve"
          ></nz-option>
      
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div class="uploadInput">
      <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
      <p>
        <nz-form-label
        nzFor="addImage"
        nzTooltipTitle="autant que vous voulez, (non-obligatoire)"
      >images</nz-form-label>
        
        <input accept=".jpg, .jpeg, .png, .gif" id="addImage" type="file" (change)="selectFile($event)"/>
      </p>
    </div>
    <div class="uploadInput">
      <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
      <p>
        <nz-form-label
        nzFor="addVideo"
        nzTooltipTitle="une seule (non-obligatoire), qui ne sera pas affichée sur cette page"
      >video</nz-form-label>
        <input accept=".mp4, .mkv, .avi, .mov" id="addVideo" type="file" (change)="selectVideo($event)" />
      </p>
    </div>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" class="submitButton">
          ajouter le produit
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div id="images">
    <div class="renderImage" nz-carousel-content *ngFor="let url of urls">
      <img class="sizeImage" [src]="url" />
    </div>
  </div>
</div>
