#mainPageRegister{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

#formRegister{
    margin-top: 3%;
    width: 50%;
    margin-left: 2%;
}

.inputLogin{
    width: 60%;
}

.submitButton{
    background-color: #2C8A41;
    border-color: #2C8A41;
}

.inputSelect{
    
    width: 70.5%;
    padding-left: 9.5%;
}

.titleRegister{
    margin-left: 14%;
    font-family: "Sunflower", Arial, Helvetica, sans-serif;
    font-size: 500%;
}

.imgRegister{
    margin-top: 3%;
    margin-right: 15%;
}