<nav>
  <a id="titleNavBar" routerLink="/">Vinci Treasures</a>
  <input id="searchNavBar" placeholder="Recherche" type="text" />
  <div *ngIf="isConnected">
    <a id="addButtonNavbar" routerLink="/ajouter">
      <button id="buttonSize">Ajouter un Objet</button>
    </a>
  </div>
  
  <div id="leftNavBar">
    <a id="objectsPageNavbar" routerLink="/recherche">Objets</a>
    <div *ngIf="isConnected">
      <ng-container
        class="containerDropdown"
        *ngFor="let position of listOfPosition"
      >
        <img
          nz-button
          nz-dropdown
          [nzDropdownMenu]="menu"
          [nzPlacement]="position"
          class="profileImg"
          [src]="imageUrl"
          alt="image par defaut"
        />
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a routerLink="/profil">Profil</a></li>
            <li nz-menu-item>Historique</li>
            <li nz-menu-item><a routerLink="/logout">Deconnexion</a></li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </div>
    <div *ngIf="!isConnected">
      <a id="loginNavbar" routerLink="/login" >connexion</a>
    </div>
  </div>
</nav>
