<div *ngIf="!displayUpdatePwd">
    <button nz-button nzType="default" class="profile-button" nzBlock (click)="displayUpdateInput()">
      Modifier le mot de passe
    </button>
</div>

<div *ngIf="displayUpdatePwd">
  <form 
    #passwordupdate = "ngForm"
    nz-form 
    [nzLayout]="'horizontal'" 
    [formGroup]="validateForm" 
    (ngSubmit)="passwordUpdate(passwordupdate.value)"
  >
    <nz-form-item>
      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Veuillez entrer votre nouveau mot de passe">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          placeholder="nouveau mot de passe"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input 
          nz-input 
          type="password" 
          formControlName="checkPassword" 
          id="checkPassword" 
          placeholder="confirmer mot de passe"
        />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Veuillez confirmer votre nouveau mot de passe</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">Les mots de passes ne sont pas identiques</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="0">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Modifier</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>