<div class="tabUsers">
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          E-mail
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Prénom</th>
        <th>Nom</th>
        <th><i nz-icon nzType="alert" nzTheme="outline"></i> Admin</th>
        <th>Campus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfDisplayData">
        <td>{{ data.mail }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.surname }}</td>
        <td > 
          <div *ngIf="data.isAdmin">oui </div>
          <div *ngIf="!data.isAdmin">non </div>
        </td>
        <td>{{ data.campus }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="recherche" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">rechercher </button>
        <button nz-button nzSize="small" (click)="reset()">Réinitaliser</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>

<div class="tabProductsToValidate">
  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Nom de l'objet</th>
        <th>Prénom du vendeur</th>
        <th>Adresse d'échange</th>
        <th>raison de refus</th>
        <th>Valider l'article</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.sellerMail }}</td>
        <td>{{ product.adress}}</td>
        <td>
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(product.id)">

            <nz-form-item>
                <input nz-input formControlName="reason" placeholder="raison" />
            </nz-form-item>
            
            <nz-form-item>
                <button nz-button nzType="primary" class='refuteButton'>réfuter</button>
            </nz-form-item>

          </form>
        </td>
        <td><button nz-button nzType="primary" (click)="validProduct(product.id)" class="ValidButton">Valider</button></td>
      </tr>
    </tbody>
  </nz-table>
</div>