.tabUsers{
    margin-top: 8%;
}

.refuteButton{
    background-color: red;
    border-color: red;
}

.displayBanButton{
    display: flex;   
}

.ValidButton{
   background-color: #2C8A41; 
   border-color: #2C8A41;
}