<a (click)="handleClick()">
  <nz-card
    class="card-comp"
    [nzCover]="coverTemplate"
    [nzLoading]="false"
    [nzHoverable]="true"
    [nzActions]="[sentType]"
  >
    <nz-card-meta
      nzTitle="{{ product.name }}"
      nzDescription="{{ product.description }}"
    >
      <button nz-button nzType="primary" nzGhost>Primary</button></nz-card-meta
    >
  </nz-card>
  <ng-template #sentType>
    <div *ngIf="product.sentType === 'AEchanger'">
      <a> A Echanger </a>
    </div>
    <div *ngIf="product.sentType === 'ADonner'">
      <a> A Donner </a>
    </div>
    <div *ngIf="product.sentType === 'AVendre'">
      <a>{{ dictSentType.get(product.sentType) }} : {{ product.price }}€</a>
    </div>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="https://source.unsplash.com/random/250x175" />
  </ng-template>
</a>
