<a routerLink="/">
  <nz-card
    class="card-comp"
    [nzCover]="coverTemplate"
    [nzLoading]="false"
    [nzHoverable]="true"
    [nzActions]="[sentType]"
  >
    <nz-card-meta
      nzTitle="{{ product.name }}"
      nzDescription="{{ product.description }}"
    >
      <button nz-button nzType="primary" nzGhost>Primary</button></nz-card-meta
    >
  </nz-card>
  <ng-template #sentType>
    <a>{{ product.sentType }}</a>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="https://source.unsplash.com/random/250x175" />
  </ng-template>
</a>
