<a (click)="handleClick()">
  <nz-card
    class="card-comp"
    [nzCover]="coverTemplate"
    [nzLoading]="false"
    [nzHoverable]="true"
    [nzActions]="[sentType]"
  >
    <nz-card-meta
      nzTitle="{{ product.name }}"
      nzDescription="{{ product.description }}"
    >
      <button nz-button nzType="primary" nzGhost>Primary</button></nz-card-meta
    >
  </nz-card>
  <ng-template #sentType>
    <div *ngIf="product.sentType === 'AEchanger'">
      <div class="flex">
        <div>A Echanger</div>
        <div>
          <a [href]="userUrl">{{ product.sellerMail }}</a>
        </div>
      </div>
    </div>
    <div *ngIf="product.sentType === 'ADonner'">
      <div class="flex">
        <div>A Donner</div>
        <div>
          <a [href]="userUrl">{{ product.sellerMail }}</a>
        </div>
      </div>
    </div>
    <div *ngIf="product.sentType === 'AVendre'">
      <div class="flex">
        <div>
          {{ dictSentType.get(product.sentType) }} : {{ product.price }}€
        </div>
        <div>
          <a [href]="userUrl">{{ product.sellerMail }}</a>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" [src]="imageUrl" />
  </ng-template>
</a>
