<div class="container">
  <div *ngIf="isLoading"><nz-spin nzSimple [nzSize]="'large'"></nz-spin></div>
  <div *ngIf="!isLoading">
    <div *ngIf="isAnError" class="error">
      Une erreur est survenue <br />{{ errorMessage }}
    </div>
    <div nz-row *ngIf="!isAnError">
      <div nz-col [nzXs]="10" class="left-column">
        <div class="product-title">
          <h1>{{ product.name }}</h1>
          <span class="btn">{{ dictSentType.get(product.sentType) }}</span>
        </div>
        <nz-carousel
          nzAutoPlay
          [nzEffect]="'fade'"
          [nzAutoPlaySpeed]="50000"
          class="caroussel"
        >
          <div *ngIf="containVideo">
            <video
              [src]="product.blobVideo"
              class="prod-img"
              controls="true"
            ></video>
          </div>
          <div nz-carousel-content *ngFor="let index of product.blobMedias">
            <img [src]="index" alt="Product Image" class="prod-img" />
          </div>
        </nz-carousel>
        <div>
          <p>
            Vendu par
            <a [routerLink]="['/profil']" [queryParams]="{ mail: user.mail }">{{
              user.mail
            }}</a>
          </p>
          <a class="contact-btn" href="mailto:{{ product.sellerMail }}" *ngIf="!productIsSold && !ownProduct">
            Contactez le vendeur
          </a>
        </div>

        <div *ngIf="ownProduct" class="deleteButton">
          <button (click)="deleteThisProduct()" nz-button nzType="primary" nzDanger>supprimer le produit</button>
        </div>

        <app-detail-product-sell 
          [displaySell]="false" 
          idProduct="{{idProduct}}"
          *ngIf="!productIsSold && ownProduct"
        >
        </app-detail-product-sell>
      </div>
      <div nz-col [nzXs]="14" class="product-content">
        <div>
          <h3>Description</h3>
          {{ product.description }}
        </div>
        <div *ngIf="product.price">
          <h3>Prix</h3>
          {{ product.price }}€
        </div>
        <div>
          <h3>Campus</h3>
          {{ product.adress }}
        </div>
        <app-map [adress]="product.adress"></app-map>
      </div>
    </div>
  </div>
</div>
