.container {
  padding-top: 125px;
}

.left-column {
  padding-left: 7.5%;
  padding-right: 5%;
}

.prod-img {
  width: 100%;
  object-fit: cover;
}

.product-title {
  display: flex;
  justify-content: space-between;
}

.product-content {
  padding-top: 3%;
  font-size: large;
}

.btn {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 7.5px 15px;
  border-radius: 12.5px;
}

.error {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 2em;
}

.contact-btn {
  width: 100%;
  background-color: #2c8a41;
  color: white;
  padding: 2vh 10%;
  border-radius: 10px;
}

.caroussel {
  height: auto;
}

.edit-container {
  display: flex;
  justify-content: center;
}
.edit-container form {
  width: 75%;
}
.edit-container form div {
  padding-bottom: 20px;
}

.submit-div {
  display: flex;
  justify-content: flex-start;
}

input[type="number"] {
  width: 25%;
}

.submitBtn {
  background-color: #2c8a41;
  border-color: #2c8a41;
}

.submit-div button {
  margin-right: 5vw;
}

.deleteButton {
  margin-bottom: 1%;
}
