.container {
  padding-top: 125px;
}

.left-column {
  padding-left: 7.5%;
  padding-right: 5%;
}

.prod-img {
  width: 100%;
  object-fit: cover;
}

.product-title {
  display: flex;
  justify-content: space-between;
}

.product-content {
  padding-top: 3%;
  font-size: large;
}

.btn {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 7.5px 15px;
  border-radius: 12.5px;
}

.error {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 2em;
}
