.mainPageLogin{
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.titleLogin{
    font-family: "Sunflower", Arial, Helvetica, sans-serif;
    font-size: 500%;
}

.submitButton{
    background-color: #2C8A41;
    border-color: #2C8A41;
}

.inputLogin{
    width: 60%;
}