.mainPageLogin {
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
}

.titleLogin {
  font-family: "Sunflower", Arial, Helvetica, sans-serif;
  font-size: 500%;
}

.submitButton {
  background-color: #2c8a41;
  border-color: #2c8a41;
}

.inputLogin {
  width: 60%;
}

.errorMessage {
  margin-top: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
