.map-container {
  height: 100%;
  width: 75%;
  padding-bottom: 50px;
  z-index: 1;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
  max-height: 300px;
  z-index: 1;
}

#map {
  z-index: 1;
  height: 100%;
}
