<div class="sidebar">
  <h3 class="sidebar-title">Filtres</h3>
  <div class="filters">
    <!-- Price filter -->
    <div>
      <p>
        <b><u>Prix</u></b>
      </p>
      <div class="tooltip-range">
        <span>{{ minPriceAll }}</span> <span>{{ maxPriceAll }}</span>
      </div>
      <nz-slider
        nzRange
        [(ngModel)]="priceRange"
        [nzMin]="minPriceAll"
        [nzMax]="maxPriceAll"
        [nzStep]="1"
        (nzOnAfterChange)="onAfterSliderChange($event)"
      ></nz-slider>
    </div>
    <br />
    <!-- SentType filter -->
    <div>
      <p>
        <b><u>sentType</u></b>
      </p>
      <nz-radio-group [(ngModel)]="type">
        <label nz-radio nzValue="donner">Donner</label>
        <label nz-radio nzValue="troquer">Troquer</label>
        <label nz-radio nzValue="vendre">Vendre</label>
      </nz-radio-group>
    </div>
    <br />
    <!-- Categorie filter -->
    <div>
      <p>
        <b><u>categorie</u></b>
      </p>
      <div class="selectAllLabel">
        <label
          nz-checkbox
          [(ngModel)]="allChecked"
          (ngModelChange)="updateAllChecked()"
        >
          Sélctionner tous
        </label>
      </div>
      <nz-checkbox-group
        [(ngModel)]="listCategorie"
        (ngModelChange)="updateSingleChecked()"
      ></nz-checkbox-group>
      <br /><br />
      <div class="buttonDiv">
        <button nz-button (click)="onSubmit()" class="filterButton">
          Filtrer
        </button>
      </div>
    </div>
  </div>
</div>
