<div id="profile">
    <div nz-row><!--top half of profile-->
        <div nz-col nzSpan="12" class="half-profile"><!--Top left of profile-->
            <ul nz-list nzSize="large">
                <li nz-list-item nzNoFlex>
                    <h1>John Smith</h1>
                </li>
                <li nz-list-item nzNoFlex>
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                            <a>edit</a>
                        </nz-list-item-action>
                    </ul>
                    <b>Mail:</b> john.smith@mail.com
                </li>
                <li nz-list-item nzNoFlex>
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                            <a>edit</a>
                        </nz-list-item-action>
                    </ul>
                    <b>Location:</b> Campus de Alma
                </li>
                <li id="pwd-change"><button>Modifier le mot de passe</button></li>
            </ul>
        </div>
        <div nz-col nzSpan="12" class="half-profile"><!--Top right of profile-->
            <p >Mes badges</p>
        </div>
      </div>
      <div>
          
      </div>
</div>