<div id="profile">
    <div nz-row><!--top half of profile-->
        <div nz-col nzSpan="12" class="half-profile"><!--Top left of profile-->
            <ul nz-list nzSize="large" [nzLoading]="loading">
                <li nz-list-item nzNoFlex>
                    <h1>{{user.name}} {{user.surname}}</h1>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <app-profile-element 
                        title="mail" 
                        value="{{user.mail}}" 
                        [displayEdit]="true" 
                        [displayUpdate]="false"
                        (mailUpdateEvent)="updateMail($event)"
                    >
                    </app-profile-element>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <app-profile-element title="adresse" value="{{user.campus}}" [displayEdit]="true">
                    </app-profile-element>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <app-profile-element 
                        title="evaluations" 
                        value="{{like + dislike}} ({{evaluation}}% de positives)" 
                        [displayEdit]="false"
                    >
                    </app-profile-element>
                </li>
                <li id="pwd-change-button">
                    <button nz-button nzType="default" class="profile-button" nzBlock>Modifier le mot de passe</button>
                </li>
            </ul>
        </div>
        <div nz-col nzSpan="12" class="half-profile"><!--Top right of profile-->
            <img id="profile-picture" src="../../../assets/default_profil.jpg" alt="image par defaut"/>
            <div id="profile-redirect-buttons">
                <button nz-button nzType="default" nzBlock class="profile-redirect-button profile-button">Mon historique</button>
                <button nz-button nzType="default" nzBlock class="profile-redirect-button profile-button">Mes badges</button>
            </div>
        </div>
    </div>
</div>