<div id="profile">
    <div nz-row><!--top half of profile-->
        <div nz-col nzSpan="12" class="half-profile"><!--Top left of profile-->
            <ul nz-list nzSize="large" [nzLoading]="loading">
                <li nz-list-item>
                    <h1>{{user.name}} {{user.surname}}</h1>
                    <button 
                        nz-button 
                        nzType="primary" 
                        id="ban-button" 
                        (click)="banUser()" 
                        *ngIf="!isBanned && isAdmin && !ownProfile"
                    >
                        Bannir {{user.name}} {{user.surname}}
                    </button>
                    <button 
                        nz-button 
                        nzType="primary" 
                        id="unban-button" 
                        (click)="unbanUser()" 
                        *ngIf="isBanned && isAdmin && !ownProfile"
                    >
                        Débannir {{user.name}} {{user.surname}}
                    </button>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <app-profile-mail 
                        title="mail" 
                        value="{{user.mail}}" 
                        [displayEdit]="ownProfile"
                        [displayUpdate]="false"
                        (mailUpdateEvent)="updateMail($event)"
                    >
                    </app-profile-mail>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <div nz-row>
                        <div nz-col nzSpan="20">
                            <b>adresse: </b>{{user.campus}}
                        </div>
                    </div>
                </li>
                <li nz-list-item nzNoFlex class="profile-info-item" >
                    <div nz-row >
                        <div nz-col nzSpan="20">
                            <b>evaluations: </b>{{like + dislike}} ({{evaluation}}% de positives)
                        </div>
                        <div nz-col nzSpan="4">
                        </div>
                    </div>
                </li>
                <li id="pwd-change-button" *ngIf="ownProfile">
                    <app-profile-password 
                        [displayUpdatePwd]="false" 
                        (passwordUpdateEvent)="updatePassword($event)">
                    </app-profile-password>
                </li>
            </ul>
        </div>
        <div nz-col nzSpan="12" class="half-profile"><!--Top right of profile-->
            <ul nz-list nzSize="large" [nzLoading]="loading">
                <img id="profile-picture" src="{{image}}" alt="image de profil"/>
            </ul>
            <div id="profile-redirect-buttons">
                <button 
                    nz-button 
                    nzType="default" 
                    nzBlock 
                    class="profile-redirect-button profile-button" 
                    *ngIf="ownProfile"
                    routerLink="/historique"
                >
                    Mon historique
                </button>
                <button 
                    nz-button 
                    nzType="default" 
                    nzBlock 
                    class="profile-redirect-button profile-button" 
                    *ngIf="ownProfile"
                    routerLink="/badge"
                >
                    Mes badges
                </button>
            </div>
        </div>
    </div>
</div>