#profile{
    margin-top: 150px;
    min-height: 65vh;
}

.half-profile{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 40%;
}

.profile-info-item{
    font-size: 1.25em;
}

#pwd-change-button{
    padding-top: 3%;
}

#profile-picture{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-redirect-buttons{
    margin-left: 20%;
    margin-right: 20%;
}

#ban-button{
    color: red;
    background-color: white;
    border-color: red;
    border-radius: 2px;
}

#ban-button:hover{
    color: white;
    background-color: red;
}

#unban-button{
    color: rgb(0, 119, 255);
    background-color: white;
    border-color: rgb(0, 119, 255);
    border-radius: 2px;
}

#unban-button:hover{
    color: white;
    background-color: rgb(0, 119, 255);
    border-color: white;
}

.profile-button{
    font-size: 1.20em;
    color: #2C8A41;
    border-color: #2C8A41;
}

.profile-button:hover{
    background-color: #2C8A41;
    color: white;
}

.profile-redirect-button{
    margin-top: 5%;
}