<div nz-row *ngIf="!displayUpdate">
    <div nz-col nzSpan="20">
        <b>{{title}}: </b>{{value}}
    </div>
    <div nz-col nzSpan="4" *ngIf="displayEdit">
        <ul nz-list-item-actions>
            <nz-list-item-action>
                <a (click)="displayUpdateInput()">edit</a>
            </nz-list-item-action>
        </ul>
    </div>
</div>

<div nz-row *ngIf="displayUpdate">
    <form 
        #elementupdate = "ngForm" 
        nz-form 
        [nzLayout]="'inline'" 
        [formGroup]="validateForm" 
        (ngSubmit)="mailUpdate(elementupdate.value)"
    >
        <div nz-col [nzSpan]="20">
            <nz-form-item>
                <nz-form-control  nzErrorTip="Veuillez entrer un mail vinci">
                  <nz-input-group>
                    <input 
                        formControlName="newValueInput" 
                        nz-input placeholder="{{title}}" 
                        ngModel="{{value}}" 
                        class="profile-elt-input"
                        pattern="^[A-Za-z0-9.]+@+(vinci|student.vinci)+(.be)$"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
            <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" [disabled]="!validateForm.valid">Modifier</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</div> 
