.main {
  /* TODO : changer taille en fonction de la navbar */
  padding-top: 100px;
}

.search-sidebar {
  background-color: rgb(115, 194, 115);
  position: fixed;
  z-index: 1;
  height: 100%;
}

.card-comp {
  width: 275px;
}

.list-products {
  margin-top: 3%;
  margin-left: 22.5%;
}

.custom-col {
  padding: 5px;
}
