<div class="main">
  <div nz-row>
    <div
      nz-col
      [nzXXl]="5"
      [nzXl]="6"
      [nzLg]="8"
      [nzMd]="10"
      [nzSm]="12"
      [nzXs]="12"
    >
      <app-search-sidebar
        [productName]="productName"
        [minPrice]="minPrice"
        [maxPrice]="maxPrice"
        [type]="type"
        [selectedCategories]="categories"
      ></app-search-sidebar>
    </div>
    <div
      nz-col
      [nzXXl]="19"
      [nzXl]="18"
      [nzLg]="16"
      [nzMd]="14"
      [nzSm]="12"
      [nzXs]="12"
    >
      <div *ngIf="isAnError" class="error">
        Une erreur est survenue <br />{{ errorMessage }}
      </div>
      <nz-list nzGrid *ngIf="!isAnError">
        <div nz-row [nzJustify]="'space-around'">
          <div
            nz-col
            [nzXXl]="5"
            [nzXl]="8"
            [nzLg]="10"
            [nzMd]="12"
            [nzSm]="24"
            [nzXs]="24"
            *ngFor="let product of filtredProducts"
            class="custom-col"
          >
            <nz-list-item>
              <app-product-card [product]="product"></app-product-card>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
    </div>
  </div>
</div>
